body{
    background-color: rgb(92, 85, 85);
}
body{
background-image: url(img/resim.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}